html {
    box-sizing: border-box
}

*,:before,:after {
    box-sizing: inherit
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

body {
    background: #551A8B;
    line-height: 1
}

.primary-nav-sidebar,.image-gallery,.spotlight,.agents,.client-logos,.primary-header,body[data-name=homepage] .wrapper {
    -js-display: flex;
    display: flex
}

@keyframes fade-in {
    0% {
        opacity: 0
    }
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translate3d(48px,0,0)
    }
}

a {
    color: #069;
    text-decoration: underscore
}

body {
    font-family: "Helvetica",sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

h1 {
    text-align: center;
    font-weight: 300;
    line-height: 1.35;
    font-size: 3.5rem
}

@media screen and (min-width: 374px) {
    h1 {
        font-size:4.55rem
    }
}

@media screen and (min-width: 600px) {
    h1 {
        font-size:5.25rem
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size:7rem
    }
}

p {
    font-weight: 300;
    line-height: 1.35;
    font-size: 1rem;
    margin-bottom: 1.2rem
}

@media screen and (min-width: 374px) {
    p {
        font-size:1.3rem
    }
}

@media screen and (min-width: 600px) {
    p {
        font-size:1.4rem
    }
}

@media screen and (min-width: 1200px) {
    p {
        font-size:1.5rem
    }
}

@media screen and (min-width: 374px) {
    p {
        margin-bottom:1.5rem
    }
}

@media screen and (min-width: 600px) {
    p {
        margin-bottom:1.8rem
    }
}

@media screen and (min-width: 1200px) {
    p {
        margin-bottom:1.8rem
    }
}

body {
    animation: fade-in 250ms;
    overflow-x: hidden;
    padding: .875rem;
    color: #231F20
}

.site-container {
    background: #551A8B;
}

.primary-nav-sidebar {
    color: #fff;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 260px;
    padding: .875rem;
    padding-top: 3.5rem;
    padding-bottom: .875rem;
    background: #551A8B;
    transition: transform 250ms;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0
}

@media screen and (min-width: 374px) {
    .primary-nav-sidebar {
        padding-bottom:1.05rem
    }
}

@media screen and (min-width: 600px) {
    .primary-nav-sidebar {
        padding-bottom:1.75rem
    }
}

@media screen and (min-width: 1200px) {
    .primary-nav-sidebar {
        padding-bottom:2.1875rem
    }
}

.primary-nav-sidebar p {
    font-weight: 200;
    margin-bottom: 0
}

.is-nav-trigger {
    display: none
}

.is-nav-trigger:checked~.primary-nav-sidebar {
    visibility: visible;
    position: fixed;
    top: 0;
    right: -260px
}

.is-nav-trigger:checked~.primary-nav-sidebar,.is-nav-trigger:checked~.site-container {
    transform: translate3d(-260px,0,0)
}

.is-nav-trigger:checked~.primary-nav-sidebar .primary-nav-item,.is-nav-trigger:checked~.site-container .primary-nav-item {
    transform: translate3d(0,0,0)
}

.is-nav-trigger:checked~.primary-nav-sidebar .primary-nav-item:nth-child(1),.is-nav-trigger:checked~.site-container .primary-nav-item:nth-child(1) {
    transition-delay: 31.25ms
}

.is-nav-trigger:checked~.primary-nav-sidebar .primary-nav-item:nth-child(2),.is-nav-trigger:checked~.site-container .primary-nav-item:nth-child(2) {
    transition-delay: 62.5ms
}

.is-nav-trigger:checked~.primary-nav-sidebar .primary-nav-item:nth-child(3),.is-nav-trigger:checked~.site-container .primary-nav-item:nth-child(3) {
    transition-delay: 93.75ms
}

.is-nav-trigger:checked~.primary-nav-sidebar .primary-nav-item:nth-child(4),.is-nav-trigger:checked~.site-container .primary-nav-item:nth-child(4) {
    transition-delay: 125ms
}

.is-nav-trigger:checked~.primary-nav-sidebar .primary-nav-item:nth-child(5),.is-nav-trigger:checked~.site-container .primary-nav-item:nth-child(5) {
    transition-delay: 156.25ms
}

.is-nav-trigger:checked~.primary-nav-sidebar .primary-nav-item:nth-child(6),.is-nav-trigger:checked~.site-container .primary-nav-item:nth-child(6) {
    transition-delay: 187.5ms
}

.primary-nav-item {
    color: #fff;
    display: block;
    font-size: 20px;
    margin-bottom: .875rem;
    text-decoration: none;
    transform: translate3d(3.5rem,0,0);
    transition: transform 250ms
}

.navigation-close {
    position: absolute;
    top: 17px;
    right: .875rem;
    display: block
}

.menu-close {
    cursor: pointer;
    height: 39px;
    width: 44px;
    background: url('/assets/icons/close-menu.svg') center no-repeat
}

.social .icon {
    height: 20px;
    width: 20px;
    margin: 5px;
    display: inline-block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden
}

.social .twitter {
    background: url('assets/social/twitter.svg') no-repeat
}

.social .instagram {
    background: url('assets/social/instagram.svg') no-repeat
}

.contact a {
    font-weight: 300;
    color: #fff;
    text-decoration: none
}

.site-container {
    transition: transform 250ms;
}

.wrapper {
    margin: auto;
    width: 95%
}

@media screen and (min-width: 374px) {
    .wrapper {
        width:93.1%
    }
}

@media screen and (min-width: 600px) {
    .wrapper {
        width:84.36%
    }
}

@media screen and (min-width: 1200px) {
    .wrapper {
        width:73.815%
    }
}

.wrapper.header-wrapper {
    width: 92%
}

.site-container>.wrapper>:last-child {
    margin-bottom: 0;
    padding-bottom: 1.2rem
}

@media screen and (min-width: 374px) {
    .site-container>.wrapper>:last-child {
        padding-bottom:1.5rem
    }
}

@media screen and (min-width: 600px) {
    .site-container>.wrapper>:last-child {
        padding-bottom:1.8rem
    }
}

@media screen and (min-width: 1200px) {
    .site-container>.wrapper>:last-child {
        padding-bottom:1.8rem
    }
}

.primary-header {
    justify-content: space-between;
    padding-top: .875rem;
    margin-bottom: 7rem
}

.primary-header.header-dark {
    background: #231F20
}

@media screen and (min-width: 600px) {
    .primary-header {
        padding-top:1.75rem
    }
}

@media screen and (min-width: 1200px) {
    .primary-header {
        padding-top:3.5rem
    }
}

.primary-header-item {
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    height: 39px;
    width: 44px;
    background-position: center;
    display: inline-block
}

.menu-trigger {
    cursor: pointer;
    animation: fade-in 1000ms;
    background: url('assets/icons/open-menu.svg') center no-repeat;
    color: #551A8B;
}

.menu-trigger.header-dark {
    background: url('assets/icons/open-menu.svg') center no-repeat
}

.homepage .menu-trigger {
    background: url('assets/icons/open-menu.svg') center no-repeat
}

body[data-name=homepage] .site-container {
    background: url('assets/img/homepage-bg.jpg') no-repeat;
    background-size: cover;
    color: #fff;
    height: calc(100vh - 30px);
    padding-bottom: 1.75rem
}

@media screen and (min-width: 320px) {
    body[data-name=homepage] .site-container {
        padding-bottom:2.1rem;
        background-position: center;
    }
}

@media screen and (min-width: 374px) {
    body[data-name=homepage] .site-container {
        padding-bottom:2.1rem;
        background-position: center;
    }
}

@media screen and (min-width: 600px) {
    body[data-name=homepage] .site-container {
        padding-bottom:3.5rem;
        background-position: center;
    }
}

@media screen and (min-width: 1200px) {
    body[data-name=homepage] .site-container {
        padding-bottom:4.375rem;
        background-position: center;
    }
}

body[data-name=homepage] .site-container p {
    font-weight: 600;
    animation: slide-in 1000ms;
    margin-bottom: 0;
    text-shadow: 0 0 4px #231F20
}

body[data-name=homepage] .wrapper {
    flex-direction: column;
    height: 100%;
    justify-content: space-between
}

.coming-soon {
    background-color: rgba(0,0,0,0.5);
}
